<!DOCTYPE html>
<html>
  <head>
    <title> Enter the pin codes </title>
  </head>
  <body>
    <h1 style="margin-top:20px;"> Please Enter the Pin codes: </h1>
    <form role="form" action="/enterPin" method="post">
      <div class="form-group">
         <label class="sr-only" for="pin">Enter The Pin Code</label>
        <input type="text" name="pin" placeholder="Enter the Pin Code..." class="form-username form-control" id="form-username">
      </div>

      <button type="submit" class="btn">Add Pin Code</button>
    </form>
  </body>
</html>
