<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather Valley</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		    <link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="shortcut icon" href="assets/ico/logo.png">

    </head>

    <body>

      <div id="loader">

      </div>
        <!-- Top content -->
        <div id="mainContent" class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                          <h1 style="margin-top:-50px;"><strong>WeatherValley</strong> Online Weather Database </h1>
                            <div class="description">
                            	<p class="hidden-xs"  style="margin-bottom:-20px;"  >
                                Weather Valley is a website whose servers store the weekly
	                               <strong>Weather Forecast</strong>
                                and refreshes its data every week so that and can provide its client
                                <strong>VERY USEFUL INFORMATION</strong>
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3 style="text-align: center; margin-left: 95px; margin-bottom:-15px; font-weight: 400;">BE A PART OF GREATNESS</h3>
                            		<!-- <p>Enter your username and password to log on:</p> -->
                        		</div>
                        		<!-- <div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div> -->
                            </div>
                            <div class="form-bottom">

                            <div role="form" class="login-form">

                              <form role="form" action="/sendUserInfo" method="post" class="login-form">
                                <div class="form-group">
                                 <label class="sr-only" for="name">Name</label>
                                 <input type="text" name="name" placeholder="Your Name..." class="form-username form-control" id="form-username" required>
                               </div>
			                    	   <div class="form-group">
			                    		   <label class="sr-only" for="mobile">Phone Number</label>
			                           <input type="number" name="mobile" placeholder="Phone number..." class="form-username form-control" id="form-username" required>
			                         </div>
                              <div class="form-group">
			                    		   <label class="sr-only" for="email">Email</label>
			                        	 <input type="text" name="email" placeholder="Email..." class="form-username form-control" id="form-username" required>
			                        </div>
                              <div class="form-group">
			                    		   <label class="sr-only" for="pass">Set A Password</label>
			                        	 <input type="password" name="pass" placeholder="Set A Password ..." class="form-username form-control" id="form-username" required>
			                        </div>
  			                        <button type="submit" class="btn" style="font-weight: 500;">SUBMIT DETAILS</button>
  			                      </form>

                          <a href="/"><button style="margin-top:15px; width: 100%; font-weight: 500;" class="btn" >GO BACK</button></a>
			                        <!-- <a href="http://weatherupdates.herokuapp.com/" target="_blank"><button style="width: 100%; font-weight: 500;" class="btn" >ENTER AS A GUEST</button></a>
                              <br />
                              <br />
                              <form role="form" action="/login" method="post" class="login-form">
                                <button class="btn" style="width: 100%; font-weight: 500;">LOGIN</button>
                              </form>
                              <br />
                              <form role="form" action="/signup" method="post" class="login-form">
                                <button class="btn" style="font-weight: 300;">Not a member? <span style="font-weight: 500;">SIGNUP NOW</span></button>
                              </form>
			                      </div> -->
		                    </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script src="assets/js/loader.js"></script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
