<!DOCTYPE HTML>
<html>
<head>
	<title>Weather Valley</title>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Blogname Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
	/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!----webfonts---->
		<link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!--end slider -->
		<!--script-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!---->

</head>
<body>
<!---strat-banner---->
<div class="banner">				
	 <div class="header">  
		  <div class="container">
			  <div class="logo">
					<a href="#"> <img style="height: 40px;" src="images/logo.png" title="soup" /></a>
			 </div>
			 <!---start-top-nav---->
			 <div class="top-menu">
				  <span class="menu"> </span> 
				   <ul>
						<li class="active"><a href="#">HOME</a></li>						
						<li><a target="_blank" href="contact.html">CONTACT</a></li>	
						<li><a target="_blank" href="terms.html">TERMS</a></li>						
						<li><a onclick="alert('You Were Successfully Logged Out!')" href="/">LOGOUT</a></li>
						<div class="clearfix"> </div>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
					<script>
					$("span.menu").click(function(){
						$(".top-menu ul").slideToggle("slow" , function(){
						});
					});
					</script>
				<!---//End-top-nav---->					
		 </div>
	 </div>
	 <div class="container">
		 <div class="banner-head">
				<h1>Weather Valley</h1>
				<h2>A weather forecasting database you can rely upon</h2>
		 </div>

	 </div>
</div>
<!---//End-banner---->
<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
					 <div class="content-grid-head">
						 <h3>Welcome to your personal space</h3>
						 <h4>We care for our client <a href="contact.html">{{name}}</a></h4>
						 <div class="clearfix"></div>
					 </div>
					 <div class="content-grid-info">
						 <h3><a href="#">Hello, <span id="name">{{name}}</span></a></h3>
						 <h4>Current Weather in your locality: {{currentWeather}} &#176 C</h4><br />
						 <h4>Never worry, we have you covered</h4><br />
						 <h5>Your Position Longitude: <span id="lat"></span> &#176</h5>
						 <h5>Your Position Latitude: <span id="lng"></span> &#176</h5>
						<br />
						 <div style="height: 670px; width: 670px;" id="map"></div>

						 <a class="bttn" id="sendLocation" target="_blank" href="#">View Full Location</a>
						 <a class="bttn" id="chatApp" target="_blank" href="#">CHAT  with other weather enthusiasts</a><br />
						 
						 <a class="bttn" target="_blank" href="https://maps.ngdc.noaa.gov/viewers/hazards/">NATURAL HAZARDS DATASET CUM MAP VIEWER</a><br />
						 <a class="bttn" href="#">MORE</a><br /> 

						 <form action="/getRaw" method="POST">
							 <button target="_blank" class="bttn"><a class="bttn" target="_blank">Download RAW JSON Dataset: (DEVELOPERS INTREST)</a></button>
						 </form>

					</div>
				 </div>
				 
				 
			 </div>
			 
			 <div class="col-md-4 content-main-right">
				
				 <div class="categories">
					 <h3>Why Weather Valley?</h3>
					 <li class="active"><a href="#">Viewers can register themselves here to join the visualization 
						 sessions of climatic conditions of various places, 
						 which include the map.</a></li>
					 <li><a href="#">Keep them informed about climatic changes</a></li>
					 <li><a href="#">Impart proper knowledge and understanding of weather</a></li>
					 <li><a href="#">Generate awareness in them for natural calamities if any</a></li>
					 <li><a href="#">Provide standard weather reports to Public</a></li>
				 </div>
				
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--fotter-->
<div class="fotter">
		<div class="container">
			<div class="col-md-4 fotter-info">
				<h3>Project Weather Valley</h3>
				<p>A weather forecasting database you can rely upon</p>
				<p>
					Weather forecasting is the prediction of what the atmosphere 
					will be like in a particular place by using technology and 
					scientific knowledge to make weather observations. In other 
					words, it's a way of predicting things like cloud cover, rain, 
					snow, wind speed and temperature before they happen. 
			   </p>
			</div>
			<div class="col-md-4 fotter-list">
				<h3>DEVELOPERS - meet people assciated  </h3>
				<ul>
				<li><a href="#">MADHAV BAHL (16BCE2311)</a></li>
				<li><a href="#">DILSHATH (16BCE0669)</a></li>
				</ul>
			</div>
			<div class="col-md-4 fotter-media">
				   <h3>FOLLOW US ON....</h3>
					<div class="social-icons">
					<a href="#"><span class="fb"> </span></a>
					<a href="#"><span class="twt"> </span></a>
					<a href="#"><span class="in"> </span></a>				 			 
				   </div>
			</div>
			<div class="clearfix"></div>
		</div>
   </div>
   <!---fotter/-->
   
   <script type="text/javascript">
		   $(document).ready(function() {
		   $().UItoTop({ easingType: 'easeOutQuart' });
   });
   </script>
   <a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
   <script src="assets/js/getCurrentLocation.js"></script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP9TXTYbKdJLCk0xBTgAIsPMgVzjpOfZw&callback=initMap">
	</script>

</body>
</html>