<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather Valley</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/welcome.css">
        <link rel="shortcut icon" href="assets/ico/logo.png">
    </head>
    <body>

      <!-- LOADER -->

      <div id="loader">
      </div>

      <!-- Main Content -->


      <nav style="position:fixed; border: 0px solid black;" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span>
              <img id="logo" src="assets/ico/logo.png" alt="LOGO.png" />
              <span style="padding-left: 7px; font-size:1.4em; color: rgb(194,194,219);">Weather Valley </span>
            </span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home Page</a></li>
            <li><a href="/" onclick="alertFunc();">Log Out!</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id='mainContent' class="container" style="margin-top:100px; height:1600px;">
      <h1> Welcome To The Weather Valley</h1>
      <h1><b> {{name}}</b></h1>
    </div>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/loader.js"></script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
