body{
 margin:0;
 background-color:#e6ccff;
 background-image:url("p13.jpg");
}
ul{
 list-style-type:none;
 background-color:#0088cc;
 padding:0;
 margin:0;
 overflow:hidden;
}
li{
float:left;
}
li a:hover:not(.active){
 background-color:#99ddff;
}
li a{
color:white;
font-size:20px;
text-decoration:none;
padding:14px 16px;
display:block;
text-align:center;
}
.active{
    
  background-color:#9900cc;
}


#footer {
    color:white;
    background-color:#0088cc;
    clear:both;
    text-align:center;
    position:relative;
    margin-top:30px;
}
#feed {
    line-height:20px;
    border-radius:15%;
    background-color:#cc99ff;
    color:#000066;
    height:542px;
    margin-top:13px;
    font-size:20px;
    text-align:center;
    margin-bottom:15px;
    margin-left:450px;
    width:426px;
    padding:5px;
    float:left;	
}      
#material {
    line-height:20px;
    background-color:#cc99ff;
    color:#000066;
    height:542px;
    margin-top:13px;
    font-size:20px;
    text-align:center;
    margin-bottom:15px;
    margin-left:70px;
    width:426px;
    padding:5px;
    float:left;	
}    



