body{
 margin:0;
 background-color:#e6ccff;
 background-image:url("p16.jpg");
}
ul{
 list-style-type:none;
 background-color:#0088cc;
 padding:0;
 margin:0;
 overflow:hidden;
}
li{
float:left;
}
li a:hover:not(.active){
 background-color:#99ddff;
}
li a{
color:white;
font-size:20px;
text-decoration:none;
padding:14px 16px;
display:block;
text-align:center;
}
.active{
  background-color:#9900cc;
}


#footer {
    color:white;
    background-color:#0088cc;
    clear:both;
    text-align:center;
    position:relative;
    margin-top:15px;
}
#feed {
    line-height:20px;
    border-radius:15%;
    background-color:white;
    height:542px;
    margin-top:13px;
    margin-left:95px;
    width:426px;
    padding:5px;
    float:left;	
}      
#cont {
    line-height:15px;
    text-align:left;
    background-color:white;
    color:black;
    height:237px;
    margin-top:22px;
    margin-left:285px;
    width:310px;
padding-top:8px;
    padding-left:15px;
    float:left;	      
}



