body{
 margin:0;
 background-color:#e6ccff;
}
ul{
 list-style-type:none;
 background-color:#0088cc;
 padding:0;
 margin:0;
 overflow:hidden;
}
li{
float:left;
}
li a:hover:not(.active){
 background-color:#99ddff;
}
li a{
color:white;
font-size:20px;
text-decoration:none;
padding:14px 16px;
display:block;
text-align:center;
}
.active{
  background-color:#9900cc;
}

#footer {
    color:white;
    background-color:#0088cc;
    clear:both;
    text-align:center;
}
.circle {
    width: 210px;
    height:245px;
    background:white;
    margin-top:17px;
    float:left;
    margin-left:100px;
}
.circle1 {
    width: 220px;
    height: 245px;
    margin-top:17px;
    background:white;
    float:left;
    position:relative;
    margin-left:220px;
}
.circle2 {
    width: 210px;
    height:245px;
    background:white;
    float:left;
    margin-top:17px;
    position:relative;
    margin-left:210px;
}
.circle3 {
    width: 210px;
    height:245px;
    background:white;
    margin-top:60px;
    float:left;
    margin-left:100px;
}
.circle4 {
    width: 210px;
    height:245px;
    background:white;
    float:left;
    margin-top:60px;
    margin-bottom:20px;
    position:relative;
    margin-left:225px;
}
.circle5 {
    width: 220px;
    height:245px;
    background:white;
    float:left;
    margin-top:60px;
    margin-bottom:20px;
    position:relative;
    margin-left:220px;
}
